{% extends 'index.html' %}
{% block content %}
<div>
    <h3>room page</h3>
    <ul>
        {% for member in room['members'] %}
        <li>{{member}}</li>
        {% endfor %}
    </ul>
    <button>Start game</button>
    <button class="exitBtn">Exit room</button>
    <dialog class="dialog_element">
        <p>
            Confirm to exit room
        </p>
        <button class="closeBtn">Close</button>
        <a href="/api/lobby">
            <button class="confirmBtn">Confirm</button>
        </a>
    </dialog>
</div>
<script type="text/javascript">
    var socket = io()

    socket.on('message',(message)=>{
        console.log('message from server',message)
    })
    socket.on('connect',()=>{
        console.log('socket id',socket.id)
    })
    dialogBox = document.querySelector('.dialog_element')

    document.querySelector('.exitBtn').addEventListener('click',(e)=>{
        dialogBox.showModal()
    })

    document.querySelector('.closeBtn').addEventListener('click',(e)=>{
        dialogBox.close()
    })

</script>
{% endblock %}
